table.UiComponentTable {
	border-spacing: 0;
}

table.UiComponentTable.centered {
	margin-left: 50%;
	<?= $e->Css->buildUnsupportedProperty("transform", "translate(-50%, 0)"); ?>
}

table.UiComponentTable.fullWidth {
	width: 100%;
}

table.UiComponentTable th,
table.UiComponentTable td {
	padding: 0.4em 1em;
}

table.UiComponentTable th.alignLeft,
table.UiComponentTable td.alignLeft {
	text-align: left;
}

table.UiComponentTable th.alignCenter,
table.UiComponentTable td.alignCenter {
	text-align: center;
}

table.UiComponentTable th.alignRight,
table.UiComponentTable td.alignRight {
	text-align: right;
}

table.UiComponentTable > thead > tr > th {
	font-weight: normal;
	text-align: left;
	opacity: .4;
	border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

table.UiComponentTable td {
	border-bottom: solid rgba(0, 0, 0, 0.05) 1px;
}

table.UiComponentTable td.image > img {
	max-height: 5em;
	border-radius: 5px;
}

table.UiComponentTable td.buttons > .UiComponentButton {
	display: flex;	
	opacity: 0;
	transition: opacity .1s ease-in-out;
}

table.UiComponentTable td.buttons.alignRight {
	justify-content: flex-end;
}

table.UiComponentTable tr:hover td.buttons > .UiComponentButton{
	opacity: 1;
}

table.UiComponentTable td.buttons > .UiComponentButton {
	margin: 0 5px 0 0;
	float: left;
}

table.UiComponentTable td.buttons.alignRight > .UiComponentButton {
	margin: 0 0 0 5px;
}

table.UiComponentTable td.buttons > .UiComponentButton:last-child {
	margin-right: 0;
}

table.UiComponentTable.loading {
	background-image: repeating-linear-gradient(45deg, transparent 0px, transparent 5px, rgba(250, 121, 121, 0.04) 5px, rgba(0, 0, 0, .04) 10px, transparent 10px);
	background-repeat: repeat;
	background-size: 42px 42px;
	
	animation: Gradient 1s linear infinite;
}

@keyframes Gradient {
	0% { background-position: 0px 0px }
	100% { background-position: 42px 0px }
}