.UiComponentColumnStructure {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.UiComponentColumnStructure.wrap {
	flex-wrap: wrap;
}

.UiComponentColumnStructure > div {
	display: inline-block;
	float: left;
	overflow-x: hidden;
	flex-grow: 1;
}

.UiComponentColumnStructure.innerGap > div:not(:last-child) {
}

.UiComponentColumnStructure > div.menu {
	flex-grow: 0;
	flex-shrink: 0;
	width: 250px;
}

.UiComponentColumnStructure > div.padding {
	padding: 40px;
}