table.UiComponentTable {
	border-spacing: 0;
}

table.UiComponentTable.centered {
	margin-left: 50%;
	<?= $e->Css->buildUnsupportedProperty("transform", "translate(-50%, 0)"); ?>
}

table.UiComponentTable.fullWidth {
	width: 100%;
}

table.UiComponentTable th,
table.UiComponentTable td {
	position: relative;
	padding: 0.6em 1em;
	max-width: 400px;
	vertical-align: top;
}

table.UiComponentTable th.alignLeft,
table.UiComponentTable td.alignLeft {
	text-align: left;
}

table.UiComponentTable th.alignCenter,
table.UiComponentTable td.alignCenter {
	text-align: center;
}

table.UiComponentTable th.alignRight,
table.UiComponentTable td.alignRight {
	text-align: right;
}

table.UiComponentTable.highlightOnHover tr:hover th,
table.UiComponentTable.highlightOnHover tr:hover td {
	background: rgba(0, 0, 0, 0.02);
}

table.UiComponentTable > thead > tr > th {
	font-weight: normal;
	text-align: left;
	opacity: .4;
	border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

table.UiComponentTable td {
	border-bottom: solid rgba(0, 0, 0, 0.05) 1px;
}

table.UiComponentTable td.image > img {
	max-height: 5em;
	border-radius: 5px;
}

table.UiComponentTable td.buttons {
	text-align: right;
}

table.UiComponentTable td.buttons > .reveal {
	position: absolute;
	top: 0.6em; right: 1em; /* This should match the padding setting on table.UiComponentTable th, table.UiComponentTable td { ... } above */
	display: flex;	
	opacity: 0;
	transition: opacity .1s ease-in-out;
}

table.UiComponentTable td.buttons > .revealButton {	
	pointer-events: none;
}

table.UiComponentTable tr:hover td.buttons > .reveal {
	opacity: 1;
}

table.UiComponentTable tr:hover td.buttons > .reveal > .UiComponentButton:not(.mergedLeft):not(.mergedRight) {
	margin: 0 0 0 5px;
}

table.UiComponentTable tr:hover td.buttons > .revealButton {
	opacity: 0;
}

table.UiComponentTable.loading {
	background-image: repeating-linear-gradient(45deg, transparent 0px, transparent 5px, rgba(250, 121, 121, 0.04) 5px, rgba(0, 0, 0, .04) 10px, transparent 10px);
	background-repeat: repeat;
	background-size: 42px 42px;
	
	animation: Gradient 1s linear infinite;
}

@keyframes Gradient {
	0% { background-position: 0px 0px }
	100% { background-position: 42px 0px }
}